Makefile
a.out
currop
prevop
currnoproclog
currfsizelog
currnofilelog
currmemlocklog
currcputimelog
currstacklog
currdatalog
prevnoproclog
prevfsizelog
prevmemlocklog
prevnofilelog
prevcputimelog
prevstacklog
prevdatalog
message
diffop
!.gitignore
